*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-body-background);
}

header {
	background-color: var(--color-header-background);
	backdrop-filter: blur(var(--navbar-background-blur));
	position: fixed;
	width: 100%;
}

nav ul  {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .75em 1em;
	
}

nav ul li a{
	text-decoration: none;
	
}

section {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-top: 3.75em;
}

section ul {
	display: flex;
	overflow-x: auto;
  	scroll-snap-type: x mandatory;
  	scroll-behavior: smooth;
	gap: 0;
	width: 100%;
	height: 100vh;
}

section ul li {
	flex-shrink: 0;
  	width: 100vw;
  	height: 100vh;
  	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 90%;
  	text-align: center;
  	scroll-snap-align: center;
	align-items: center;
	padding-bottom: 4em;
	box-shadow: var(--slide-styling);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
   }


section ul li:nth-child(1) {
	background-image: url("/images/blackFridayLogo.webp");
	background-size: cover;
	background-position: center;
}

section ul li:nth-child(2) {
	background-image: url("/images/warcraftBackground.webp");
	background-size: cover;
	background-position: center;
}

section ul li:nth-child(3) {
	background-image: url("/images/overwatchBackground.webp");
	background-size: cover;
	background-position: center;
}

section ul li:nth-child(4) {
	background-image: url("/images/warcraftRumbleBackground.webp");
	background-size: cover;
	background-position: center;
}

section ul li:nth-child(5) {
	background-image: url("/images/diabloBackground.webp");
	background-size: cover;
	background-position: center;
}

section ul li:nth-child(6) {
	background-image: url("/images/heartstoneBackground.webp");
	background-size: cover;
	background-position: center;
}

   section ul li img { 
	grid-area: 1 / 1 / 3 / 2;
	width: auto;
	height: 5.813em;
  }

  section ul li img {
	width: auto;
	height: 5.813em;
  }

  section ul li p { grid-area: 3 / 1 / 4 / 2; }
  section ul li h3 { grid-area: 4 / 1 / 5 / 2; }
  
  section ul li p {
	font-family: 'poppins';
  }

  section ul li p:nth-child(2) {
	color: var(--color-text);
	font-size: var(--fontsize-slide-heading);
	max-width: 70%;
	line-height: var(--lineheight-slide-heading);
	margin-top: .25em;
	margin-bottom: .8em;
	text-shadow: var(--heading-styling);
  }

  section ul li p:last-child {
	color: var(--color-text);
	font-size: var(--fontsize-slide-button);
	background-color: var(--color-slide-button);
	padding: 20px 32px;
	border-radius: 3em;
	border: 2px solid rgba(255, 255, 255, 0.15);
	text-shadow: var(--button-styling)			
  }

  h1 {
	font-family: 'poppins';
	color: var(--color-slide-heading);
  }