/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--color-header-background: #273148;
	--navbar-background-blur: 20px;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	padding: 0;

}

header {
	background-color: var(--color-header-background);
	margin: auto;
	backdrop-filter: blur(var(--navbar-background-blur));


}



nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	list-style: none;

}

a {
	text-decoration: none;
	color: inherit;
}

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	max-width: 600px;
	margin: auto;
}

.carousel-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slide {
	min-width: 100%;
	box-sizing: border-box;
}

.slide img {
	width: 100vw;
	display: block;
	object-fit: fill;
	position: relative;
}

.carousel-dots {
	display: flex;
	justify-content: center;
	gap: .75em;
	margin-top: .75em;
	margin-bottom: .75em;
}

.carousel-dot {
	width: 2.75em;
	height: .5em;
	border-radius: 2px;
	background-color: #ccc;
	cursor: pointer;
	transition: background-color 0.3s;
}

.carousel-dot.active {
	background-color: #007bff;
}

.catalogue{
	background-color: #273148;
}

.filter {
	display: flex;
	gap: 1em;
	margin-left: 1em;
}