/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--color-header-background: #273148;
	--navbar-background-blur: 20px;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

